.mainContent .FOHATitle h1{
    font-size: xx-large;
    text-align: center;
    color: rgb(70, 70, 81);
    position: relative;
    top: 50px;
}

.mainContent{
    height: 150px;
    background-color: #EDF2F7;
}

.spacer{
    height: 50px;
    background-color: white;
}

.miniSpacer{
    height: 20px;
    background-color: white;
}

.aboutInfo{
    margin: 0 10% 10% 10%;
    padding: 20px;
    box-shadow:
      inset 0 -3em 3em rgb(255, 255, 255),
      0 0 0 2px white,
      0.5em 0.3em 1em rgb(130 130 155);
    font-size: 17px;
}

.aboutInfo p{
    font-size: 17px;
    text-align: left;
    color: rgb(70, 70, 81);
    text-decoration: default;
}

.aboutInfo h3 a{
    font-size: 25px;
    text-align: left;
    color: rgb(70, 70, 81);
    position: relative;
    top: 10px;
    text-decoration: default;
}

.aboutInfo h2{
    font-size: 32px;
    text-align: left;
    color: rgb(70, 70, 81);
    position: relative;
    top: 10px;
    text-decoration: default;
}

.aboutInfo h3{
    font-size: 25px;
    text-align: left;
    color: rgb(70, 70, 81);
    position: relative;
    top: 10px;
    text-decoration: default;
}

.aboutInfo h4{
    font-size: 20px;
    text-align: left;
    color: rgb(70, 70, 81);
    position: relative;
    top: 10px;
    text-decoration: default;
}

.aboutInfo ul li a{
    font-size: 17px;
    text-align: left;
    color: rgb(70, 70, 81);
    text-decoration: default;
}

.aboutInfo ul li{
    font-size: 17px;
    text-align: left;
    color: rgb(70, 70, 81);
    text-decoration: none;
}

.italicizedSideNote{
    font-style: italic;
    font-size: 13px;
    text-align: left;
    color: rgb(70, 70, 81);
    text-decoration: default;
}

.questionsAbtMembership{
    font-size: 17px;
    text-align: left;
    padding: 0 0 0 1.5%;
    color: rgb(70, 70, 81);
    text-decoration: default;
}

.questionsAbtMembership a{
    font-size: 17px;
    text-align: left;
    color: rgb(70, 70, 81);
    text-decoration: underline;
}